<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ site.Title }}</title>

    <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="bg-gray-50 antialiased">

<article class="article-page container max-w-3xl mx-auto py-12"> 

    <header class="article-header mb-8 border-b pb-4 pt-6">
        
        <h1 class="text-4xl font-extrabold leading-tight">{{ .Title }}</h1> 
        
<p class="subtitle mt-2 text-lg text-gray-600 text-sm">
    Authors: {{ .Params.authors | default "Onbekend" }} 
    | 
    {{ with .Params.date }}
        {{ dateFormat "2 January 2006" . }}
    {{ else }}
        Date not found
    {{ end }}
</p>

    </header>

    <div class="article-content prose max-w-none"> 
        {{ .Content | safeHTML }}
    </div>

</article>

</body>
</html>